.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the container */
  flex: 2.2;
}

.date-picker-container label {
  font-weight: bold;
  margin-right: 10px; /* Add space between label and input */
}

.date-picker-input {
  height: 30px; /* Adjust to match other input sizes */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
